.offices{
	margin-top: 25px;
}
.offices  li{
	font-size: 20px;
}

#offices_section {
  margin-top: 65px;
}
#offices_section .title {
  margin-bottom: 38px;
}
#offices_section h2 {
  font-size: 46px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 25px 0;
  padding: 0;
}
#offices_section .underline {
  height: 4px;
  width: 135px;
  display: block;
  background-color: #088c18;
  margin: 0 auto;
}

header .brand .subtitle{
	font-size: 12px;
	text-transform: uppercase;
}

/**Color selectors**/
.color-selector-container{
	display: -webkit-flex; 
	-webkit-justify-content: center;
	display: flex;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 10px;
}
.color-selector-black, .color-selector-white, .color-selector-red, .color-selector-green, .color-selector-blue{
	display: inline-block;
	 width: 50px;
	height: 50px;
	outline: 4px solid #ccc;
	margin: 10px;
}

.color-selector-container .active
{
	display: inline-block;
	 width: 60px;
	height: 60px;
	outline: 6px solid #31DE43;
	margin: 12px;
}
.color-selector-black{
	background: black;
}
.color-selector-white{
	background: white;
}
.color-selector-red{
	background: #EF1313;
}
.color-selector-green{
	background: green;
}
.color-selector-blue{
	background: blue;
}


a {
	outline: none  !important; /* Убираем границу вокруг ссылок  */
}
  