требования:
- быстрое оформление заказа - машина, даты, бронь
- но и чтобы можно было посмотреть детальную информацию об автомобиле
- несколько офисов с одинаковой функциональностью
- возможность продлить аренду или уточнить какой-нибудь вопрос
- скидки для длительной аренды

- смена цвета сайта с желтого на зеленый

- добавление различных цветов

- добавление фильтров